/* CSS declarations go here */
body { padding-top: 70px; }
.poop {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background: linear-gradient(45deg, green, white);
	border: none;
	font-size: 3em;
}